.feedback-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.7);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.feedback-form h3 {
    font-size: 24px;
    color: #8C4A00; /* Marrón oscuro */
    margin-bottom: 10px;
}

.feedback-form textarea {
    width: 80%;
    height: 100px; /* Adjust the height as needed */
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 10px;
    resize: none; /* Prevent resizing */
    font-size: 16px; /* Adjust the font size as needed */
}

.blue-button {
    background-color: #007BFF; /* Azul */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.blue-button:hover {
    background-color: #0056b3;
}
