.footer {
    background-color: #8B4513;
    color: #FFD700;
    text-align: center;
    padding: 20px;
    font-family: 'IM Fell DW Pica', serif;
    position: relative;
    margin: 20px;
    border: 10px solid transparent;
    border-image-source: linear-gradient(to right, #8B4513, #FFD700, #8B4513);
    border-image-slice: 1;
    border-radius: 25px; /* Increase the value to make the borders more round */
}

.footer p {
    margin: 10px 0;
}

.footer a {
    color: #FFD700;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}
