.history {
    padding: 40px;
    color: #fff;
    background: rgba(139, 69, 19, 0.7); /* Semi-transparent Andean brown */
    border-radius: 10px;
    margin-bottom: 20px;
}

.instrument-history {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.instrument-image {
    width: 220px;
    height: auto;
    margin-right: 40px;
    border-radius: 10px;
    border: 2px solid #FFD700;
}