/* InstrumentInfo styles */
.instrument-info {
    background: rgba(69, 90, 100, 0.7); /* Semi-transparent blue-grey */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 20px;
}

.instrument-info h2 {
    font-size: 24px;
    color: #FFC107;
    margin-bottom: 10px;
}

.instrument-info p {
    font-size: 18px;
    color: #FFEB3B;
    text-align: justify;
}

.instrument-info audio {
    margin-top: 10px;
}
