/* src/components/Results.css */
.results {
    background: rgba(255, 255, 255, 0.7);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 20px;
    animation: fadeIn 1s ease-in-out;
}

.results h3 {
    font-size: 24px;
    color: #8C4A00; /* Marrón oscuro */
    margin-bottom: 10px;
}

.results p,
.results ul li {
    font-size: 18px;
    color: #6A3400; /* Marrón */
    text-align: center;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
